h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }
.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }


